@use 'variables'
@use 'short-code'
@tailwind base
@tailwind components
@tailwind utilities
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap')
@import url('../vendor/fontawesome/css/all.min.css')

*
    font-family: variables.$mainFontFamily
    list-style: none
html
    scroll-behavior: smooth
a,button
    @include short-code.text-DO
    cursor: pointer
a
    &:hover, &:focus
        @include short-code.text-DO
button
    &:hover, &:focus
        @include short-code.text-DO

.cs-panel-wrapper
    @apply flex bg-gray-100 min-h-screen 
    .cs-panel-sidebar
        @apply  hidden sm:flex sm:flex-col w-64 
        &-main
            @apply flex-grow flex flex-col justify-between text-gray-500 bg-white
            .cs-sidebar-item
                @apply inline-flex items-center justify-start gap-2 p-3 hover:text-white hover:bg-purple-500 focus:text-gray-400 focus:bg-gray-700 rounded-lg
            .cs-side-top
                @apply flex flex-col
        .cs-logo
            @apply w-full inline-flex items-center justify-center h-20  bg-purple-600 hover:bg-purple-500 focus:bg-purple-500 text-base text-white font-bold uppercase
    .cs-panel-content
        width: calc( 100% - 16rem )  
.cs-message-area
    
    flex: 1